<a href="https://colab.research.google.com/github/rroszczyk/Python/blob/master/081022/cmi_sobota_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 100

In [2]:
!dir

sample_data

In [4]:
!ls -all ~

total 60
drwx------ 1 root root 4096 Oct  6 16:29 .
drwxr-xr-x 1 root root 4096 Oct  8 10:36 ..
-r-xr-xr-x 1 root root 1169 Jan  1  2000 .bashrc
drwxr-xr-x 1 root root 4096 Oct  6 13:19 .cache
drwx------ 4 root root 4096 Oct  6 13:18 .config
drwxr-xr-x 5 root root 4096 Oct  6 13:18 .ipython
drwx------ 2 root root 4096 Oct  6 13:18 .jupyter
drwxr-xr-x 2 root root 4096 Oct  5 13:46 .keras
drwxr-xr-x 1 root root 4096 Oct  6 13:18 .local
drwxr-xr-x 4 root root 4096 Oct  6 13:18 .npm
-rw-r--r-- 1 root root  148 Aug 17  2015 .profile
-r-xr-xr-x 1 root root  254 Jan  1  2000 .tmux.conf
-rw-r--r-- 1 root root  165 Oct  6 13:18 .wget-hsts

In [11]:
a = 256
b = 0x100
c = 0o400
d = 0b100000000

In [12]:
print(a, b, c, d)

256 256 256 256

In [14]:
aa = 256.
bb = 0.10
cc = .10
dd = 1e2
print(aa, bb, cc, dd)

256.0 0.1 0.1 100.0

In [16]:
A = True
B = False
C = []
D = None
E = 0
F = 1

print(A == True)
print(B == True)
print(C == True)
print(D == True)
print(E == True)
print(F == True)

True
False
False
False
False
True

In [19]:
print(type(A))
print(type(B))
print(type(C))
print(type(D))
print(type(E))
print(type(F))

<class 'bool'>
<class 'bool'>
<class 'list'>
<class 'NoneType'>
<class 'int'>
<class 'int'>

In [26]:
a = 1000000
b = 1000000
c = 1000000
print(id(a))
print(id(b))
print(id(c))
e = 10
f = 10
print(id(e))
print(id(f))

a = 'ala'
b = 'ala'
print(id(a))
print(id(b))

140183515279312
140183515279280
140183515278800
11122880
11122880
140183515385520
140183515385520

In [27]:
type(a)

str

In [33]:
a = 'ala'
b = "ala"
c = "a'la"
print(c)
c = 'a\'la'
print(c)
d = '''To 
jest 
jakiś 
napis'''
e = """To jest jakiś napis"""

"""To jest komentarz wielolinijkowy"""

a'la
a'la

'To jest komentarz wielolinijkowy'

In [34]:
print("Ala ma kota")

Ala ma kota

In [35]:
id(print)

140184065677264

In [37]:
drukuj = print

In [38]:
drukuj("Ala ma kota")

Ala ma kota

In [40]:
print(id(print))
print(id(drukuj))

140184065677264
140184065677264

In [41]:
print = 100

In [42]:
print("Ala ma kota")

TypeError: ignored

In [43]:
drukuj("Ala ma kota")

Ala ma kota

In [44]:
drukuj(print)

100

In [46]:
print = drukuj

In [52]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [53]:
def moja_funkcja():
  """
  To jest pomoc do mojej funkcji
  ona nic nie robi tylko jest
  """
  pass

In [55]:
def funkc1():
  pass

def funkc2():
  pass

funkc1()
funkc2()

In [63]:
print('a', 'b', 'c', 'd', sep='-', end='*')
print('a', 'b', 'c', 'd', sep='-')

a-b-c-d*a-b-c-d

In [69]:
a = range(1, 100, 3)
print(list(a))

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97]

In [73]:
for i in range(1, 10):
  print(i, end=' ')

1 2 3 4 5 6 7 8 9

In [75]:
l = []
print(type(l))

<class 'list'>

In [79]:
l = ['a', 'b', 'c', 'd']
print(l)

for i in l:
  print(i)

['a', 'b', 'c', 'd']
a
b
c
d

In [80]:
l1 = ['a', 'b', 1, 2, 'c', "Napis", l]
print(l1)

['a', 'b', 1, 2, 'c', 'Napis', ['a', 'b', 'c', 'd']]

In [81]:
for i in l1:
  print(i)

a
b
1
2
c
Napis
['a', 'b', 'c', 'd']

In [100]:
print(l1[6][0])
print(l1[5][0:3])

a
Nap

In [92]:
l = list(range(1, 10))
print(l)

print(l[0])
print(l[-1])
print(l[-2])
print(l[2:5])

z = l[2:5]
print(type(z))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
1
9
8
[3, 4, 5]
<class 'list'>

In [109]:
Napis = 'Ala Ma Kota'
print(Napis)

print(Napis[0:3])
print(Napis[4:6])
print(Napis[-11:-5])
print(Napis[:4:-1])

Ala Ma Kota
Ala
Ma
Ala Ma
atoK a

In [118]:
l = list(range(1, 10))

print(l)

l.remove(3)

print(l)

l.append(100)

print(l)

print(l.pop())

print(l)

print(l.pop(0))

print(l)

print(l.index(7))
print(l.pop(l.index(7)))  # <-> l.remove(7)

print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 4, 5, 6, 7, 8, 9]
[1, 2, 4, 5, 6, 7, 8, 9, 100]
100
[1, 2, 4, 5, 6, 7, 8, 9]
1
[2, 4, 5, 6, 7, 8, 9]
4
7
[2, 4, 5, 6, 8, 9]

In [119]:
k = ('a', 'b', 'c', 'd', 'e')

print(type(k))
print(k)

<class 'tuple'>
('a', 'b', 'c', 'd', 'e')

In [122]:
print(k[2:5])
print(k[-1])

('c', 'd', 'e')
e

In [129]:
k = ('abc', 'a', 3, None, l, print)
print(k)

l = ['abc', 'a', 3, None, l, print]
print(l)

#k[1] = 'b'    # zwraca błąd - krotka jest tylko do odczytu
l[1] = 'b'

print(k)
print(l)

('abc', 'a', 3, None, ['abc', 'b', 3, None, ['abc', 'b', 3, None, ['abc', 'b', 3, None, ['abc', 'a', 3, None, ['abc', 'a', 3, None, [2, 4, 5, 6, 8, 9], <built-in function print>], <built-in function print>], <built-in function print>], <built-in function print>], <built-in function print>], <built-in function print>)
['abc', 'a', 3, None, ['abc', 'b', 3, None, ['abc', 'b', 3, None, ['abc', 'b', 3, None, ['abc', 'a', 3, None, ['abc', 'a', 3, None, [2, 4, 5, 6, 8, 9], <built-in function print>], <built-in function print>], <built-in function print>], <built-in function print>], <built-in function print>], <built-in function print>]
('abc', 'a', 3, None, ['abc', 'b', 3, None, ['abc', 'b', 3, None, ['abc', 'b', 3, None, ['abc', 'a', 3, None, ['abc', 'a', 3, None, [2, 4, 5, 6, 8, 9], <built-in function print>], <built-in function print>], <built-in function print>], <built-in function print>], <built-in function print>], <built-in function print>)
['abc', 'b', 3, None, ['abc', 'b', 3, None, ['abc', 'b', 3, None, ['abc', 'b', 3, None, ['abc', 'a', 3, None, ['abc', 'a', 3, None, [2, 4, 5, 6, 8, 9], <built-in function print>], <built-in function print>], <built-in function print>], <built-in function print>], <built-in function print>], <built-in function print>]

In [130]:
slownik = {1:'jeden', 2:'dwa', 3:'trzy', 4:"cztery"}

print(type(slownik))
print(slownik)

<class 'dict'>
{1: 'jeden', 2: 'dwa', 3: 'trzy', 4: 'cztery'}

In [131]:
print(slownik[1])

jeden

In [134]:
for z in slownik.values():
  print(z)

jeden
dwa
trzy
cztery

In [135]:
for z in slownik.items():
  print(z)

(1, 'jeden')
(2, 'dwa')
(3, 'trzy')
(4, 'cztery')

In [136]:
for k, v in slownik.items():
  print(f"{k}:{v}")

1:jeden
2:dwa
3:trzy
4:cztery

In [141]:
def dodaj(a, b):
  wynik = a + b
  return wynik, a, b

def dod(a, b):
  wynik = a + b
  return wynik

def dodaj_l(a, b):
  wynik = a + b
  l = [wynik, a, b]
  return l

In [142]:
print(dodaj(10, 20))
print(dod(10, 20))
print(dodaj_l(10, 20))

(30, 10, 20)
30
[30, 10, 20]

In [144]:
wynik, a, b = dodaj(10, 20)
print(wynik, a, b)

30 10 20

In [155]:
def dodaj(a, b):
  return a + b

print(dodaj(10, 4))
#print(dodaj()) -> będzie błąd

14

TypeError: ignored

In [147]:
def dodaj3(a, b, c):
  return a + b + c

print(dodaj3(10, 4, 2))

16

In [150]:
def dodaj(*liczby):
  suma = 0
  for i in liczby:
    suma += i
  return suma

In [151]:
print(dodaj(10, 20, 30))

60

In [152]:
def dodaj(*liczby, wiekszaOd10 = False):
  suma = 0
  for i in liczby:
    if not wiekszaOd10:
      suma += i
    else:
      if i > 10:
        suma += i
  return suma

In [156]:
def dodaj(a = 0, b = 0):
  print(f"{a} + {b} = {a+b}")
  return a + b

print(dodaj())
print(dodaj(b = 100))
print(dodaj(10, 20))

0 + 0 = 0
0
0 + 100 = 100
100
10 + 20 = 30
30

In [159]:
def dodaj(*liczby):
  suma = 0
  for i in liczby:
    suma += i
  return suma

print(dodaj(10, 20, 30))
#print(dodaj(10, 20, 30, wiekszaOd10=True))

60

In [54]:
print(moja_funkcja.__doc__)

  To jest pomoc do mojej funkcji
  ona nic nie robi tylko jest

In [9]:
dir()

['In',
 'Out',
 '_',
 '_6',
 '_7',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_exit_code',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'exit',
 'get_ipython',
 'quit']